$colorbg: #F3F3F3;
$colortitle : #A2A0AD;

body main {
	background-color: $colorbg;
}

#title{
	display: flex;
	justify-content: center;
	align-items: center;
}

h4 {
	color: $colortitle;
	font-size: 4em;
}

h5 {
	color: $colortitle;
	font-size: 2em;
}

p {
	text-align: justify;
	font-size: 1em;
	padding: 1em 0 1em 0;
}

.nom_auteur{
	text-align: center;
	color: #807C95;
}

article {
	margin: 4em 0 0 0;
}

#comm {
	border-top: solid 3px #807C95;
	padding-left: 0;
}
